<form ng-submit="updateSupportItem()">
    <div class="content-block">

        <div class="content-block__body">

            <div class="content-block__header">
                <h3 class="content-block__title">Просмотр заявки</h3>
            </div>

            <div class="vm-form-group">
                <label class="vm-form-group__label">Поселение</label>
                <p class="vm-form-group__text">{{support.settlement}}</p>
            </div>
            <div class="vm-form-group">
                <label class="vm-form-group__label">Дата отправки</label>
                <p class="vm-form-group__text">{{support.created_at}}</p>
            </div>
            <div class="vm-form-group">
                <label class="vm-form-group__label">Заголовок</label>
                <p class="vm-form-group__text">{{support.title}}</p>
            </div>

            <div class="vm-form-group">
                <label class="vm-form-group__label">Текст</label>
                <p class="vm-form-group__text">{{support.body}}</p>
            </div>

        </div>
    </div>

    <div class="content-block">

        <div class="content-block__body">

            <div class="content-block__header">
                <h3 class="content-block__title">Прикрепленные файлы</h3>
            </div>

            <div ng-show="support.files.length > 0">

                <ul class="file-links-container">
                    <li ng-repeat="file in support.files">
                        <a class="file-link" download href="/storage/support/{{file.path}}">
                            <i class="fa fa-download"></i>
                            <span>{{file.name | limitTo: 50}}</span>
                        </a>
                    </li>
                </ul>

            </div>


        </div>
    </div>


    <div class="buttons-sidebar" ng-show="support.status == 'send'">
        <button type="submit" class="buttons-sidebar__button">Отметить как обработанное</button>
    </div>

</form>