<div ng-show="supportItems.length == 0">
    Заявки отсутствуют.
</div>

<table class="table table-condensed table-responsive" ng-show="supportItems.length > 0">
    <thead>
    <tr>
        <th><i class="fa fa-calendar"></i><span style="margin-left: 10px;">Дата обработки</span></th>
        <th><i class="fa fa-building-o"></i><span style="margin-left: 10px;">Поселение</span></th>
        <th><i class="fa fa-bookmark-o"></i><span style="margin-left: 10px;">Заголовок</span></th>
        <th></th>
    </tr>
    </thead>
    <tbody id="supportItems">
    <tr ng-repeat="item in supportItems" ng-class="{'primary-support-item': item.primaryColor, 'secondary-support-item': item.secondaryColor}">
        <td ng-bind="item.updated_at"></td>
        <td ng-bind="item.settlement"></td>
        <td ng-bind="item.title"></td>
        <td><a class="btn btn-xs btn-info" href="#/admin/support/{{item.id}}">Просмотр</a></td>
    </tr>
    </tbody>
</table>