<div ng-show="publications.length == 0">
    Публикации отсутствуют.
</div>

<table class="table table-condensed table-responsive" ng-show="publications.length > 0">
    <thead>
    <tr>
        <th class="table-header-with-icon"><i class="fa fa-calendar"></i><span>Дата отправки</span></th>
        <th class="table-header-with-icon"><i class="fa fa-building-o"></i><span>Поселение</span></th>
        <th class="table-header-with-icon"><i class="fa fa-bookmark-o"></i><span>Заголовок</span></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="publication in publications">
        <td ng-bind="publication.updated_at"></td>
        <td ng-bind="publication.settlement"></td>
        <td ng-bind="publication.title"></td>
        <td><a href="#/admin/publications/{{publication.id}}">Просмотр</a></td>
    </tr>
    </tbody>
</table>
