<div class="content-block">
    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Список заявок в тех. поддержку</h3>
        </div>

        <ul class="nav nav-tabs content-change-tabs">
            <li ui-sref-active="active"><a class="support-tab link-with-icon" ui-sref="baseAdmin.support.posted" ><i class="fa fa-inbox"></i><span>Входящие заявки</span></a></li>
            <li ui-sref-active="active"><a class="support-tab link-with-icon" ui-sref="baseAdmin.support.processed" ><i class="fa fa-archive"></i><span>Обработанные заявки</span></a></li>
        </ul>

        <div ui-view></div>

    </div>
</div>