<div class="content-block">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Список публикаций</h3>
        </div>

        <ul class="nav nav-tabs content-change-tabs">
            <li ui-sref-active="active"><a class="publication-tab link-with-icon" ui-sref="baseAdmin.publications.posted" ><i class="fa fa-inbox"></i><span>Входящие</span></a></li>
            <li ui-sref-active="active"><a class="publication-tab link-with-icon" ui-sref="baseAdmin.publications.processed" ><i class="fa fa-archive"></i><span>Опубликованные</span></a></li>
        </ul>

        <div ui-view></div>

    </div>
</div>