<div class="top-header">
    <div class="top-header__container">
        <div class="header-title"></div>
        <div class="header-menu">
            <div class="header-menu__link">
                <i class="fa fa-sign-out"></i>
                <a class="top-header__link" href="" ng-click="logout()">Выход</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main-container">

        <div class="main-menu">
            <ul class="main-menu__list">
                <li class="main-menu__item">
                    <a class="main-menu__link" ui-sref="baseAdmin.usersCreate" ui-sref-active="main-menu__link_active">
                        <i class="fa fa-user-plus"></i>
                        <span class="main-menu__text">
                            Создать пользователя
                        </span>
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" ui-sref="baseAdmin.users" ui-sref-active="main-menu__link_active">
                        <i class="fa fa-users"></i>
                        <span class="main-menu__text">
                            Пользователи
                        </span>
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" ui-sref="baseAdmin.publications" ui-sref-active="main-menu__link_active">
                        <i class="fa fa-table"></i>
                        <span class="main-menu__text">
                            Публикации
                        </span>
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" ui-sref="baseAdmin.support" ui-sref-active="main-menu__link_active">
                        <i class="fa fa-inbox"></i>
                        <span class="main-menu__text">
                            Заявки в тех. поддержку
                        </span>
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" ui-sref="baseAdmin.sitesManager" ui-sref-active="main-menu__link_active">
                        <i class="fa fa-code"></i>
                        <span class="main-menu__text">
                            Сайты
                        </span>
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" ui-sref="baseAdmin.siteCreate" ui-sref-active="main-menu__link_active">
                        <i class="fa fa-plus"></i>
                        <span class="main-menu__text">
                            Создать сайт
                        </span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="main-content">
            <div ui-view></div>
        </div>

    </div>
</div>
