<form name="pubForm" ng-submit="sendPublication()">

    <div class="content-block">
        <div class="content-block__body">

            <div class="content-block__header">
                <h3 class="content-block__title">Основная информация</h3>
            </div>

            <div class="vm-form-group">
                <label for="" class="vm-form-group__label">Поселение</label>
                <p class="vm-form-group__text">{{publication.settlement}}</p>
            </div>

            <div class="vm-form-group">
                <label for="" class="vm-form-group__label">Дата отправки</label>
                <p class="vm-form-group__text">{{publication.updated_at}}</p>
            </div>
            <div class="vm-form-group">
                <label for="" class="vm-form-group__label">Комментарий</label>
                <p class="vm-form-group__text">{{publication.comment || 'Отсутствует.'}}</p>
            </div>

            <div class="vm-form-group">
                <label for="" class="vm-form-group__label">Прикрепленные файлы</label>
                <ul class="file-links-container">
                    <li ng-repeat="file in publication.files">
                        <a title="{{file.name}}" class="file-link" download href="/storage/tmp/publications/{{file.path}}">
                            <i class="fa fa-download"></i>
                            <span>{{ file.name | limitTo: 50 }}</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="vm-form-group">
                <label for="pub-title" class="vm-form-group__label">Заголовок</label>
                <p ng-if="publication.status !== 'moderation'" class="vm-form-group__text">{{publication.title}}</p>
                <input type="text" ng-if="publication.status == 'moderation'" class="vm-form-group__input" id="pub-title" required ng-model="publication.title">
            </div>

            <div class="vm-form-group">
                <label for="pub-date" class="vm-form-group__label">Дата публикации</label>
                <p ng-if="publication.status !== 'moderation'" class="vm-form-group__text">{{publication.pubDate}}</p>
                <input type="text" ng-if="publication.status == 'moderation'" required ng-model="publication.pubDate" id="pub-date" class="vm-form-group__input">
            </div>

            <div class="vm-form-group">
                <label for="" class="vm-form-group__label">Сайт</label>
                <p class="vm-form-group__text">{{publication.site.title}}</p>
            </div>


            <div class="buttons-sidebar" ng-if="publication.status == 'moderation'">
                <button type="submit" class="buttons-sidebar__button">Опубликовать</button>
                <button type="button" ng-click="deletePublication(publication.id)" class="buttons-sidebar__button pull-right">Удалить</button>
            </div>

        </div>
    </div>



    <div class="content-block" ng-if="publication.status == 'moderation'">


        <div class="content-block__body content-block__body_double">

            <div class="content-block__header">
                <h3 class="content-block__title">Рубрики <span ng-show="publication.receivedTerms.length > 0" class="small">Найдено: {{publication.receivedTerms.length}}</span></h3>
            </div>

            <div class="content-block-half">


                <div class="content-block-half__body">
                    <div class="search-input">
                        <input type="text" ng-model-options="{ debounce: 300 }" ng-model="publication.termSearchItem" placeholder="Начните набирать название рубрики..." class="search-input__input">
                    </div>

                    <div class="content-block-half__scroll-area">

                        <div class="content-block-half__info" ng-show="publication.receivedTerms.length == 0 && isSendTermsRequest">
                            По вашему запросу ничего не найдено.
                        </div>


                        <div class="term-item" ng-repeat="term in publication.receivedTerms">

                            <div class="term-item__term-name">
                                <div class="term-item__text">{{term.name}}</div>
                            </div>

                            <div class="term-item__action">
                                <div class="term-item__link">
                                    <a title="Добавить" href="" ng-click="choseTerm(term)"><i class="fa fa-plus"></i></a>
                                </div>

                            </div>

                        </div>

                    </div>




                </div>






            </div>



            <div class="content-block-half">


                <div class="content-block-half__body">

                    <h4 class="content-block-half__title">Выбранные рубрики <small ng-show="publication.chosenTerms.length > 0">Выбрано: {{publication.chosenTerms.length}}</small></h4>


                    <div class="content-block-half__scroll-area">

                        <div class="content-block-half__info" ng-show="publication.chosenTerms.length == 0">
                            На данный момент не выбрано ни одной рубрики.
                        </div>


                        <div class="term-item" ng-repeat="term in publication.chosenTerms">

                            <div class="term-item__term-name">
                                <div class="term-item__text">{{term.name}}</div>
                            </div>

                            <div class="term-item__action">
                                <div class="term-item__link">
                                    <a title="Удалить" href="" ng-click="dropTerm(term)"><i class="fa fa-times"></i></a>
                                </div>

                            </div>

                        </div>

                    </div>



                </div>

            </div>
        </div>



    </div>


    <div class="content-block" ng-if="publication.status == 'moderation'">
        <div class="content-block__body content-block__body_no-padding">
            <div class="content-block__header content-block__header_no-margin-bottom content-block__header_with-padding">
                <h3 class="content-block__title">Сгенерированный HTML-контент</h3>
            </div>
            <textarea ui-codemirror ui-codemirror-opts="codeOptions" ng-model="publication.content"></textarea>
        </div>
    </div>



</form>