<div class="content-block">

    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Список публикаций</h3>
        </div>

        <div ng-show="publications.length == 0">
            Публикации отсутствуют.
        </div>

        <table class="table table-condensed table-responsive" ng-show="publications.length > 0">
            <thead>
            <tr>
                <th><i class="fa fa-calendar"></i><span style="margin-left: 10px;">Дата публикации</span></th>
                <th><i class="fa fa-tasks"></i><span style="margin-left: 10px;">Статус</span></th>
                <th><i class="fa fa-bookmark-o"></i><span style="margin-left: 10px;">Заголовок</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="publication in publications">
                <td ng-bind="publication.pubDate | date: 'dd.MM.yyyy'"></td>
                <td ng-bind="publication.status | publicationStatus"></td>
                <td ng-bind="publication.title"></td>
            </tr>
            </tbody>
        </table>


    </div>
</div>