<div class="content-block">

    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Прикрепленные файлы <small ng-show="publication.files.length > 0">Количество: {{publication.files.length}}</small></h3>
        </div>

        <div class="chose-files-area" ngf-drop="true" ngf-select ngf-multiple="true" ngf-change="upload($files)">
            <i class="fa fa-cloud-upload"></i><br>
            <span ng-show="publication.files.length == 0">Для создания публикации загрузите файл(ы)</span>
            <span ng-show="publication.files.length > 0">Добавить файл(ы)</span>
        </div>



        <div class="files-area" ng-show="publication.files.length > 0">
            <div ng-repeat="file in publication.files" class="files-area__file">
                <div class="files-area__action-label">
                    <span class="files-area__label" ng-show="validateMainFile(file) && file.isMain">Основной</span>
                    <span class="files-area__label_link" ng-show="validateMainFile(file) && !file.isMain" ng-click="changeMainFile(file)">Сделать основным</span>
                </div>
                <div class="files-area__file-name">
                    <span class="files-area__text">{{file.name}}</span>
                </div>
                <div class="files-area__remove-button">
                    <span class="files-area__link" ng-click="dropFile(file)" title="Удалить"><i class="fa fa-times"></i></span>
                </div>
            </div>
        </div>

        <h3 class="progress-spinner" ng-show="showUploadBar"><i class="fa fa-cog fa-spin"></i></h3>

    </div>
</div>







<form name="pubForm" novalidate ng-submit="createPublication()" ng-show="publication.files.length > 0">
    <div class="content-block">

        <div class="content-block__body">

            <div class="content-block__header">
                <h3 class="content-block__title">Основная информация</h3>
            </div>

                <div class="vm-form-group">
                    <label for="pub-title" class="vm-form-group__label">Заголовок</label>
                    <input type="text" id="pub-title" name="title" placeholder="Введите заголовок публикации..."
                           ng-model="publication.title"
                           ng-minlength="5"
                           ng-maxlength="255"
                           class="vm-form-group__input" autocomplete="off" required>
                </div>

                <div class="vm-form-group">
                    <label for="pub-date" class="vm-form-group__label">Дата публикации</label>
                    <input type="text" autocomplete="off" id="pub-date" placeholder="Выберите дату публикации..." class="vm-form-group__input vm-form-group__input_quarter-size" ng-model="publication.pubDate" name="pubDate" required>
                </div>
                <div class="vm-form-group">
                    <label for="pub-comment" class="vm-form-group__label">Комментарий</label>
                    <textarea class="vm-form-group__textarea" placeholder="Ваш комментарий к публикации..." id="pub-comment" ng-model="publication.comment"></textarea>
                </div>
        </div>
    </div>
    <div class="buttons-sidebar">
        <button type="submit" class="buttons-sidebar__button">Отправить</button>
    </div>
</form>