<div class="header">
    <nav class="header__menu">
        <ul class="header__menu-list">
            <li class="header__list-item"><a class="header__link" ui-sref="usersList"><i class="fa fa-users"></i> Пользователи</a></li>
            <li class="header__list-item"><a class="header__link" ui-sref="publicationsList"><i class="fa fa-table"></i> Публикации</a></li>
            <li class="header__list-item"><a class="header__link" ui-sref="supportList"><i class="fa fa-inbox"></i> Тех. поддержка</a></li>
            <li class="header__list-item"><a class="header__link" ui-sref="sitesList"><i class="fa fa-code"></i> Сайты</a></li>
            <li class="header__list-item header__list-item_right"><a class="header__link" href="" ng-click="logout()"><i class="fa fa-sign-out"></i> Выход</a></li>
        </ul>
    </nav>
</div>

<div class="vm-container">
    <div ui-view></div>
</div>