<div class="content-block" style="width: 600px; margin: 150px auto;">
    <div class="vm-alert" ng-show="showAlertBlock">
        <span class="vm-alert__text">
            {{alertText}}
            <span class="vm-alert__close" ng-click="closeAlert()"><i class="fa fa-times"></i></span>
        </span>
    </div>
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Вход</h3>
        </div>
        <form ng-submit="authenticate()" name="loginForm" novalidate>
            <div class="vm-form-group">
                <label for="login" class="vm-form-group__label">Логин</label>
                <input type="text" class="vm-form-group__input" id="login" name="login" ng-minlength="3" ng-model="user.login" required placeholder="Введите Ваш логин">
            </div>
            <div class="vm-form-group">
                <label for="password" class="vm-form-group__label">Пароль</label>
                <input type="password" class="vm-form-group__input" id="password" name="password" ng-minlength="3" required ng-model="user.password" placeholder="Введите Ваш пароль">
            </div>
            <div class="buttons-sidebar">
                <button type="submit" class="buttons-sidebar__button">Войти</button>
                <span ng-show="isRequestSend" class="buttons-sidebar__loading"><i class="fa fa-refresh fa-spin"></i></span>
            </div>
        </form>
    </div>
</div>