<div class="top-header">
    <div class="top-header__container">
        <div class="header-phone">
            <span class="header-phone__title">Тех. поддержка</span>
            <h3 class="header-phone__number">89626855333</h3>
        </div>
        <div class="header-settlement">
            <h3 class="header-settlement__title">{{currentUser.settlement}}</h3>
        </div>
        <div class="header-menu">
            <div class="header-menu__link">
                <i class="fa fa-sign-out"></i>
                <a class="top-header__link" href="" ng-click="logout()">Выход</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="main-container">

        <div class="main-menu">
            <ul class="main-menu__list">
                <li class="main-menu__item">
                    <a class="main-menu__link" ui-sref="baseUser.createPublication" ui-sref-active="main-menu__link_active">
                        <i class="fa fa-plus-square"></i>
                        <span class="main-menu__text">Создать публикацию</span>
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" ui-sref="baseUser.publications" ui-sref-active="main-menu__link_active">
                        <i class="fa fa-table"></i>
                        <span class="main-menu__text">Публикации</span>
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" ui-sref="baseUser.archive" ui-sref-active="main-menu__link_active">
                        <i class="fa fa-archive"></i>
                        <span class="main-menu__text">Архив</span>
                    </a>
                </li>
                <li class="main-menu__item">
                    <a class="main-menu__link" ui-sref="baseUser.support" ui-sref-active="main-menu__link_active">
                        <i class="fa fa-question-circle"></i>
                        <span class="main-menu__text">Тех. поддержка</span>
                    </a>
                </li>
            </ul>
        </div>


        <div class="main-content">
            <div ui-view></div>
        </div>


    </div>
</div>
