<div class="content-block">
    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Список заявок в тех. поддержку <small ng-show="supportItems.length > 0">Количество: {{supportItems.length}}</small></h3>
        </div>

        <div ng-show="supportItems.length == 0">
            Заявки отсутствуют.
        </div>

        <table class="table table-condensed table-responsive" ng-show="supportItems.length > 0">
            <thead>
            <tr>
                <th>Поселение</th>
                <th>Статус</th>
                <th>Дата отправки</th>
                <th>Заголовок</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="supportItems">
            <tr ng-repeat="item in supportItems" ng-class="{'primary-support-item': item.primaryColor, 'secondary-support-item': item.secondaryColor}">
                <td ng-bind="item.settlement"></td>
                <td ng-bind="item.status | parseSupportStatus"></td>
                <td ng-bind="item.created_at | parseDate"></td>
                <td ng-bind="item.title"></td>
                <td>
                    <div class="btn-group">
                        <a href="#/support/{{item.id}}" class="btn btn-info btn-xs">Просмотр</a>
                        <button type="button" class="btn btn-info btn-xs dropdown-toggle" data-toggle="dropdown">
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" style="right: -165px !important; top: -3px !important;">
                            <li class="dropdown-header">Выделение цветом</li>
                            <li><a ng-click="changeColor(item, 'default')" href="">Стандартный</a></li>
                            <li><a ng-click="changeColor(item, 'blue')" href="">Синий</a></li>
                            <li><a ng-click="changeColor(item, 'orange')" href="">Оранжевый</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>



    </div>
</div>
