$vm-alert-text-color: #FC4E31;
$vm-alert-border-color: #FC4E31;
$vm-alert-close-button-color: #ddd;


.vm-alert {
  position: absolute;
  text-align: center;
  border: 1px solid $vm-alert-border-color;
  border-radius: 3px;
  top:80px;
  width: 600px;
  padding: 10px;
  &__text {
    color: $vm-alert-text-color;
    font-weight: bold;
    position: relative;
    display: block;
  }
  &__close {
    color: $vm-alert-close-button-color;
    position: absolute;
    right: 0;
    &:hover {
      color: darken($vm-alert-close-button-color, 10%);
      cursor: pointer;
    }
  }

}