@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


$menu-bg-color: #222d32;
$content-bg-color: #fcfcfc;
/*@menu-text-color: #b8c7ce;*/
//$menu-text-color: #444;
$menu-text-color: #537599;
$top-nav-bg-color: #537599;
$content-block-bg: #fff;
$link-color: #537599;




body, html {
  font-family: 'PT Sans', sans-serif;
  background-color: #f1f1f1;
  min-width: 100%;
}
.wrapper {
  width: 100%;
}





.file-link {
  @extend .header-link;
  text-transform: none;
  font-weight: normal;
}
.file-links-container {
  list-style: none;
  margin: 0;
  padding: 8px 0 0 0;
}


.info-block {
  background-color: #eee;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 3px;
}

.user-info-block {
  margin-bottom: 30px;
  .block-title {
    text-align: right;
    font-weight: bold;
  }
}


.content-change-tabs {
  margin-bottom: 30px;
}











.file-item {
  height: 40px;
  line-height: 40px;
  &:hover {
    background-color: #f1f1f1;
  }
}


#create-publication-button {
  margin-bottom: 30px;
  background-color: #f1f1f1;
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  padding: 10px 15px;
  color: #337AB7;
  text-align: center;
  &:hover {
    background-color: darken(#f1f1f1, 5%);
    cursor: pointer;
  }
}



#create-publication-container {
  position: absolute;
  width: 600px;
  background-color: #fff;
  top: 50px;
  left: -100px;
  padding-bottom: 30px;
  border-radius: 3px;
  box-shadow: 2px 2px 6px #444;
  z-index: 100;
}
#add-publication-form {
  padding-left: 15px;
  padding-right: 15px;
}
#publish-button {
  border: 1px solid #f1f1f1;
  border-radius: 3px;
  background-color: #f1f1f1;
  padding: 10px 15px;
  color: #337AB7;
  margin-right: 15px;
  &:hover {
    background-color: darken(#f1f1f1, 5%);
  }
}
#publication-header {
  height: 70px;
  background-color: #f1f1f1;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-left: 15px;
  margin-bottom: 30px;
  h4 {
    line-height: 70px;
    margin: 0;
    font-weight: bold;
  }
}
#close-publication-button {
  position: absolute;
  right: 15px;
  top: 25px;
}
#file-input {
  display: none;
}

.main-file {
  background-color: #eee;
}
.remove-link {
  color: $top-nav-bg-color;
}


.change-color {
  display: block;
}

ul.sub-menu {
  display: none;
  position: absolute;
  list-style: none;
  z-index: 1000;
  margin: 0;
  padding: 10px;
  right: -100px;
  width: 100px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  li {
    a {
      font-size: 0.8em;
      text-decoration: none;
    }
  }
}

.primary-support-item {
  color: #64B5F6;
}
.secondary-support-item {
  color: orange;
}
#edit-content {
  border: 1px solid #ddd;
  padding: 15px;
}


.search-input {
  & {
    height: 50px;
  }
  &__input {
    outline: 0;
    border: none;
    width: 100%;
    padding: 15px;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }
}


.main-file-select {


  & {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #ddd;
  }


  &__input {
    height: 30px;
    font-size: 14px;
    width: 100%;
    font-weight: bold;
    color: $link-color;
    text-align: center;
    border: none;
    background-color: #fff;
    outline: 0;
    border-radius: 3px;

    &:hover {
      background-color: #f6f6f6;
    }

  }

  &__head {
    text-align: center;
    color: $link-color;
    font-weight: bold;
  }

  &__item {

  }






}








.chose-files-area {
  text-align: center;
  cursor: pointer;
  padding: 30px 0;
  border-radius: 3px;
  color: $link-color;
  font-size: 16px;
  font-weight: bold;
  &_drop {
    background-color: #f6f6f6;
  }
  &:hover {
    background-color: #f6f6f6;
  }
}
.publication-tab, .support-tab {
  color: $link-color;
}

.files-area {
  & {
    margin-top: 15px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
  }

  &_support {
    margin-bottom: 15px;
    border-top: none;
    margin-top: 0;
    padding-top: 0;
  }

  &__header {
    font-size: 14px;
    color: $link-color;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
  }

  &__file {
    @include make-row(0);
    padding: 10px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    &:hover {
      background-color: #f6f6f6;
    }
  }

  &__file-name {
    @include make-lg-column(9, 0);
    &_support {
      @include make-lg-column(10, 0);
    }
  }
  &__remove-button {
    @include make-lg-column(1, 0);

    &_support {
      @include make-lg-column(2, 0);
      text-align: right;
    }

  }

  &__action-label {
    @include make-lg-column(2, 0);
  }



  &__label {
    font-weight: normal;
    font-size: 12px;
    text-transform: lowercase;
    color: #999;
    &_link {
      font-size: 12px;
      color: $link-color;
      cursor: pointer;
      font-weight: bold;
      text-transform: lowercase;
      &:hover {
        text-decoration: underline;
        color: darken($link-color, 5%);
      }
    }
  }

  &__text {
    color: $link-color;
  }

  &__link {
    color: $link-color;
    float: right;
    cursor: pointer;
    &:hover {
      color: darken($link-color, 5%);
    }
  }


}





.progress-spinner {
  text-align: center;
  color: $link-color;
}


.buttons-sidebar {
  position: relative;
  &_right {
    position: relative;
    float: right;
    z-index: 100;
    top: 11px;
  }
  &_inline {
    display: inline-block;
    float: right;
  }
  &_margin {
    margin-top: 30px;
  }

  &__loading {
    position: absolute;
    right: 0;
    font-size: 14px;
    top: 4px;
  }

  &__button {
    border: none;
    background-color: $link-color;
    padding: 5px 15px;
    color: #fff;
    cursor: pointer;
    outline: 0;
    font-size: 12px;
    font-weight: bold;
    &:hover {
      background-color: darken($link-color, 5%);
    }
    &_alert {
      float: right;
      background-color: #fcfcfc;
      color: $link-color;
      margin-left: 25px;
      &:hover {
        background-color: #fcfcfc;
        color: darken($link-color, 5%);
        font-size: 12px;
      }
    }

  }


}


.term-item {
  @include make-row(0);
  position: relative;
  padding: 5px 0;
  &__term-name {
    color: $link-color;
    font-size: 0.9em;
    @include make-lg-column(10, 0);
  }

  &__action {
    @include make-lg-column(2, 0);
    text-align: right;
  }

  &__text {
    padding-left: 15px;
  }

  &__link {
    padding-right: 15px;
  }

  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }

  &:hover {
    background-color: #f7f7f7;
  }
}

.actions-block {
  color: $link-color;
  padding: 10px 0;
  @include make-row();
  &__check-all-block {
    @include make-lg-column(7);
  }
  &__chose-action {
    @include make-lg-column(5);
  }

  &__link {
    font-weight: bold;
    font-size: 12px;
  }
  &__label {
    color: $link-color;
    font-size: 12px;
  }

}
.content-header-button {
  color: $link-color;
  font-size: 16px;
  float: right;
}

@import "mixins";
@import "header";
@import "alert";
@import "sidebar_menu";
@import "sites_area";
@import "menu";
@import "block";
@import "form";
@import "publications_area";
@import "pages_area";
@import "base";