
.content-block {




  & {
    /* Основной блок */
    margin-top: 30px;
    margin-bottom: 30px;
  }

  &_no-header {
    margin-top: 70px;
  }

  &_no-margin {
    margin-bottom: 0;
  }

  &_menu {
    width: 200px;
    float: left;


  }

  &__header-link {
    display: inline-block;
    font-weight: bold;
    color: $link-color;
    &:hover {
      text-decoration: none;
    }
  }

  &__header-link-text {
    margin-left: 10px;
  }

  &__header {
    /* Блок заголовка */
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 30px;
    &_with-padding {
      padding: 15px;
    }
    &_no-margin-bottom {
      margin-bottom: 0;
    }
  }

  &__title {
    /* Блок текста заголовка */
    font-size: 18px;
    position: relative;
    margin: 0;
    color: $link-color;
    display: inline-block;
  }

  &__body {
    /* Блок контента */
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 2px 5px #999;
    &_no-padding {
      padding: 0;
    }
    &_double {
      @include make-row(0);
      background-color: #fcfcfc;
      border: none;
    }

  }



}


.content-block-half {
  @include make-lg-column(6, 0);
  padding-right: 15px;
  &:last-child {
    padding-right: 0;
  }
  &__body {
    background-color: #fff;
    border: 1px solid #ddd;
  }

  &__scroll-area {
    padding-top: 15px;
    min-height: 150px;
    max-height: 500px;
    overflow: auto;
  }
  &__title {
    line-height: 50px;
    font-size: 16px;
    height: 50px;
    text-align: center;
    font-weight: bold;
    color: $link-color;
    margin: 0;
  }

  &__info {
    color: #666;
    text-align: center;
  }


}
.content-wrapper {
  float: left;
  @include clearfix();
  width: 740px;
  margin-left: 20px;
  margin-bottom: 50px;
}