.vm-form-group {
  & {
    margin-bottom: 20px;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &__small {
    color: #9D9FAC;
  }

  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    color: $link-color;
    position: relative;
  }
  &__input {
    height: 30px;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    outline: 0;
    position: relative;
    /*border-bottom: 1px solid #ddd;*/
    border: 1px solid #ddd;
    &_half-size {
      width: 50%;
    }
    &_quarter-size {
      width: 25%;
    }
    &_clone {
      margin-top: 15px;
    }

  }

  &__textarea {
    padding: 10px;
    width: 100%;
    resize: none;
    outline: 0;
    height: 100px;
    font-size: 14px;
    border: 1px solid #ddd;
    &_no-fixed {
      height: auto;
      overflow: auto;
    }
  }

  &__link {
    color: $link-color;
    text-transform: lowercase;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  &__text {
    border-bottom: 1px solid #ddd;
    margin-top: 15px;
    padding-bottom: 5px;
  }

  &__select {
    width: 100%;
    border: none;
    height: 30px;
    font-size: 14px;
    &:hover {
      background-color: #f6f6f6;
    }
    border-bottom: 1px solid #ddd;
  }

  &__checkbox {
    position: absolute;
    left: 0;
    bottom: 3px;
  }

  &__label-text {
    margin-left: 20px;
    cursor: pointer;
  }

}
