$header-bg-color: #fff;
$header-shadow-color: #999;
$header-link-color: #537599;

.header {
  background-color: $header-bg-color;
  height: 60px;
  padding: 0 15px;
  box-shadow: 0 2px 5px $header-shadow-color;

  &__menu-list {
    padding: 0;
    margin: 0;
    list-style: none;
    @include clearfix();
  }

  &__list-item {
    float: left;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &_right {
      float: right;
    }

  }

  &__link {
    line-height: 60px;
    font-weight: bold;
    font-size: 14px;
    color: $header-link-color;
    &:link {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
}
