/* Боковое меню */
.main-menu {

  a {
    text-decoration: none;
  }

  @include make-lg-column(3);
  @include make-md-column(3);
  @include make-sm-column(3);
  margin-top: 30px;
  position: relative;
  &__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px #999;
  }

  &__item {

  }

  &__text {
    margin-left: 10px;
  }

  &__link {
    padding: 15px;
    &:hover {
      text-decoration: none;
      background-color: darken($content-bg-color, 5%);
    }
    position: relative;
    display: block;
    color: $menu-text-color;

    &_active {
      background-color: darken($content-bg-color, 5%);
      text-decoration: none;
    }
  }




}
