.pages-area {
  &__page {
    @include make-row();
    padding: 10px 0;
    &:hover {
      cursor: pointer;
      background-color: #f1f1f1;
    }
  }
  &__title {
    color: $link-color;
    @include make-lg-column(12);
  }
}