.publications-area {
  &__publication {
    color: $link-color;
    @include make-row();
    padding: 10px 0;
    &:hover {
      background-color: #f1f1f1;
      cursor: pointer;
    }
  }
  &__header {
    @include make-row();
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-weight: bold;
  }
  &__publication-date {
    @include make-lg-column(2);
  }
  &__publication-title {
    @include make-lg-column(5);
  }
  &__publication-content {
    @include make-lg-column(5);
  }


}