.vm-sidebar-menu {
  a {
    text-decoration: none;
  }

  list-style: none;
  padding: 0;
  margin: 0;
  &__item {
  }

  &__link {
    display: block;
    padding: 5px 10px;
    color: #537599;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: #f6f6f6;
    }

    &_active {
      background-color: #f6f6f6;
      text-decoration: none;
    }

  }




}