.sites-area {
  &__site {
    margin-bottom: 10px;
    @include make-row();
    &:hover {
      background-color: #f1f1f1;
    }
    padding: 15px 0;
    &_checked {
      background-color: #f1f1f1;
    }




  }

  &__check {
    color: $link-color;
    font-weight: bold;
    font-size: 12px;
    @include make-lg-column(1);
  }
  &__title {
    @include make-lg-column(9);
    color: $link-color;
  }
  &__link {
    @include make-lg-column(2);
    color: $link-color;
    text-align: right;
    font-weight: bold;
    text-transform: lowercase;
    display: inline-block;
    z-index: 100;
    position: relative;
  }

}


.site-page {
  &__link {
    display: block;
    padding: 15px;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      background-color: #f1f1f1;
    }
  }
}