<div class="content-block">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Доступные виджеты</h3>
        </div>

        <div class="widgets-area">
            <div class="widgets-area__available">
                <div class="widgets-area__widget-available" ng-repeat="widget in widgets">
                    <div class="widgets-area__widget-name">
                        {{widget.name}}
                    </div>
                    <div class="widgets-area__widget-link">
                        <i class="fa fa-plus" ng-click="addWidget(widget)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-block" ng-show="chosenWidgets.length > 0">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Выбранные виджеты</h3>
        </div>

        <div class="widgets-area">
            <div class="widgets-area__chosen">
                <div class="widgets-area__widget-chosen" ng-repeat="widget in chosenWidgets" ng-click="showSettings(widget)">
                    <div class="widgets-area__widget-name">
                        {{widget.title}}
                    </div>
                    <div class="widgets-area__widget-link">
                        <i class="fa fa-times" ng-click="dropWidget(widget)"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
