<div class="content-block">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Редактирование публикации</h3>
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Заголовок</label>
            <input type="text" class="vm-form-group__input" ng-model="publication.title">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Дата</label>
            <input type="text" class="vm-form-group__input" ng-model="publication.pub_date">
        </div>
    </div>
</div>

<div class="content-block">
    <div class="content-block__body content-block__body_no-padding">
        <div class="content-block__header content-block__header_with-padding content-block__header_no-margin-bottom">
            <h3 class="content-block__title">Контент</h3>
        </div>
        <form>
            <textarea ui-codemirror ui-codemirror-opts="codeOptions" ng-model="publication.content"></textarea>
        </form>
    </div>
</div>

<div class="buttons-sidebar">
    <button type="button" ng-click="savePublication(publication)" class="buttons-sidebar__button">Сохранить</button>
</div>