<div class="content-block">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Рубрики <small>Количество: {{terms.length}}</small></h3>
        </div>

        <div ng-show="terms.length == 0">
            <p style="text-align: center">Рубрики отсутствуют.</p>
        </div>


        <ul ng-show="terms.length > 0">
            <li ng-repeat="term in terms">
                {{term.title}}
            </li>
        </ul>

    </div>
</div>

