<div class="content-block">
    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Публикации <small>Количество: {{publications.length}}</small></h3>
        </div>

        <table class="table table-condensed table-responsive" ng-hide="publications.length == 0">
            <thead>
            <tr>
                <th>Дата отправки</th>
                <th>Заголовок</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="publication in publications">
                <td ng-bind="publication.updated_at | parseDate"></td>
                <td ng-bind="publication.title"></td>
                <td><a href="#/publications/{{publication.id}}">Просмотр</a></td>
            </tr>
            </tbody>
        </table>


        <div ng-show="publications.length == 0" style="text-align: center">
            <p>Публикации в данный момент отсутствуют.</p>
        </div>

    </div>
</div>
