<div class="content-block">

    <div class="content-block__body content-block__body_no-padding">

        <div class="content-block__header content-block__header_no-margin-bottom content-block__header_with-padding">
            <h3 class="content-block__title">Хедер сайта</h3>
        </div>
        <form>
            <textarea ui-codemirror ui-codemirror-opts="codeOptions" ng-model="header.body"></textarea>
        </form>
    </div>
</div>

<div class="buttons-sidebar">
    <button type="button" class="buttons-sidebar__button" ng-click="save(header.body)">Сохранить</button>
</div>