<form ng-submit="createSite(site)">
    <div class="content-block">
        <div class="content-block__body">

            <div class="content-block__header">
                <h3 class="content-block__title">Создание нового сайта</h3>
                <a class="content-header-button" ui-sref="sitesList">Назад к списку сайтов</a>
            </div>

            <div class="vm-form-group">
                <label for="siteUrl" class="vm-form-group__label">URL</label>
                <input type="text" id="siteUrl" required placeholder="Введите URL нового сайта" class="vm-form-group__input" ng-model="site.url">
            </div>

            <div class="vm-form-group">
                <label for="siteTitle" class="vm-form-group__label">Название (для удобочитаемости)</label>
                <input type="text" id="siteTitle" required placeholder="Введите название сайта" class="vm-form-group__input" ng-model="site.title">
            </div>

            <div class="vm-form-group">
                <label class="vm-form-group__label">Тип поселения</label>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="site.type" value="user" checked>
                        Сельское
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="site.type" value="user-moderator">
                        Городское
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="site.type" value="moderator">
                        Модератор
                    </label>
                </div>
            </div>


        </div>
    </div>

    <div class="buttons-sidebar">
        <button type="submit" class="buttons-sidebar__button">Создать</button>
    </div>

</form>
