<div class="content-block content-block_menu">
    <div class="content-block__body">

        <ul class="vm-sidebar-menu">
            <li class="vm-sidebar-menu__item">
                <a class="vm-sidebar-menu__link" ui-sref-active="vm-sidebar-menu__link_active" ui-sref="sitesView.info">Информация</a>
            </li>
            <li class="vm-sidebar-menu__item">
                <a class="vm-sidebar-menu__link" ui-sref-active="vm-sidebar-menu__link_active" ui-sref="sitesView.mainPage">Основная страница</a>
            </li>
            <li class="vm-sidebar-menu__item">
                <a class="vm-sidebar-menu__link" ui-sref-active="vm-sidebar-menu__link_active" ui-sref="sitesView.header">Хедер</a>
            </li>
            <li class="vm-sidebar-menu__item">
                <a class="vm-sidebar-menu__link" ui-sref-active="vm-sidebar-menu__link_active" ui-sref="sitesView.footer">Футер</a>
            </li>
            <li class="vm-sidebar-menu__item">
                <a class="vm-sidebar-menu__link" ui-sref-active="vm-sidebar-menu__link_active" ui-sref="sitesView.menu">Основное меню</a>
            </li>
            <li class="vm-sidebar-menu__item">
                <a class="vm-sidebar-menu__link" ui-sref-active="vm-sidebar-menu__link_active" ui-sref="sitesView.pages">Страницы</a>
            </li>
            <li class="vm-sidebar-menu__item">
                <a class="vm-sidebar-menu__link" ui-sref-active="vm-sidebar-menu__link_active" ui-sref="sitesView.publications">Публикации</a>
            </li>
            <li class="vm-sidebar-menu__item">
                <a class="vm-sidebar-menu__link" ui-sref-active="vm-sidebar-menu__link_active" ui-sref="sitesView.terms">Рубрики</a>
            </li>
            <li class="vm-sidebar-menu__item">
                <a class="vm-sidebar-menu__link" ui-sref-active="vm-sidebar-menu__link_active" ui-sref="sitesView.styles">Стили</a>
            </li>
            <li class="vm-sidebar-menu__item">
                <a class="vm-sidebar-menu__link" ui-sref-active="vm-sidebar-menu__link_active" ui-sref="sitesView.scripts">Скрипты</a>
            </li>
        </ul>


    </div>
</div>
<div class="content-wrapper">
    <div ui-view></div>
</div>
