<div class="content-block">
    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Основная информация</h3>
        </div>

        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Оффициальный сайт</label>
            <input type="text" ng-model="siteInfo.title" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Название МО <small class="vm-form-group__small">(в именительном падеже)</small></label>
            <input type="text" ng-model="siteInfo.mo_title_nominative" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Название МО <small class="vm-form-group__small">(в родительном падеже)</small></label>
            <input type="text" ng-model="siteInfo.mo_title_genitive" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Район МО <small class="vm-form-group__small">(в именительном падеже)</small></label>
            <input type="text" ng-model="siteInfo.mo_district_nominative" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Район МО <small class="vm-form-group__small">(в родительном падеже)</small></label>
            <input type="text" ng-model="siteInfo.mo_district_genitive" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Субъект МО <small class="vm-form-group__small">(в именительном падеже)</small></label>
            <input type="text" ng-model="siteInfo.mo_subject_nominative" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Субъект МО <small class="vm-form-group__small">(в родительном падеже)</small></label>
            <input type="text" ng-model="siteInfo.mo_subject_genitive" class="vm-form-group__input">
        </div>
    </div>
</div>
<div class="content-block">

    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Адрес муниципального образования</h3>
        </div>

        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Индекс</label>
            <input type="text" ng-model="siteInfo.index" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Страна</label>
            <input type="text" ng-model="siteInfo.country" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Субъект</label>
            <input type="text" ng-model="siteInfo.subject" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Район</label>
            <input type="text" ng-model="siteInfo.district" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Населенный пункт</label>
            <input type="text" ng-model="siteInfo.settlement" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Улица, дом, корпус и тд.</label>
            <input type="text" ng-model="siteInfo.address" class="vm-form-group__input">
        </div>
    </div>
</div>
<div class="content-block">

    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Телефоны, факс, почта</h3>
        </div>

        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Телефоны</label>
            <input type="text" ng-model="siteInfo.phone" class="vm-form-group__input" placeholder="Основной номер телефона">
            <input type="text" ng-model="siteInfo.phone_extra" class="vm-form-group__input vm-form-group__input_clone" placeholder="Дополнительный номер телефона">
        </div>

        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Факс</label>
            <input type="text" ng-model="siteInfo.fax" class="vm-form-group__input">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Почта</label>
            <input type="text" ng-model="siteInfo.email" class="vm-form-group__input">
        </div>
    </div>
</div>

<div class="buttons-sidebar">
    <button type="button" ng-click="save(siteInfo)" class="buttons-sidebar__button">Сохранить</button>
</div>