<div class="content-block">

    <div class="content-block__body">
        <div class="actions-block">
            <div class="actions-block__check-all-block">
                <a class="actions-block__link" href="" ng-click="choseAll()">Выбрать все</a>
                <span ng-show="checkedCounter > 0">
                    <span>|</span>
                    <a href="" ng-click="uncheckAll()" class="actions-block__link">Снять выбор</a>
                </span>
            </div>

            <div ng-show="checkedCounter > 0" class="actions-block__chose-action">
                <span class="actions-block__label">С выбранными:</span>
                <select ng-model="currentAction">
                    <option value="hu">Добавить контент в начало хэдера</option>
                    <option value="hd">Добавить контент в конец хэдера</option>
                    <option value="fu">Добавить контент в начало футера</option>
                    <option value="fd">Добавить контент в конец футера</option>
                    <option value="ct">Изменить название рубрики</option>
                </select>
            </div>
        </div>






    </div>
</div>


<div class="content-block" ng-show="currentAction == 'ct' && checkedCounter > 0">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Изменить название рубрики <small>Выбрано сайтов: {{checkedCounter}}</small></h3>
        </div>

        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Старое название рубрики</label>
            <input type="text" class="vm-form-group__input" ng-model="term.oldValue">
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Новое название рубрики</label>
            <input type="text" class="vm-form-group__input" ng-model="term.newValue">
        </div>
        <div class="buttons-sidebar">
            <button type="submit" ng-click="changeTermTitle(term)" class="buttons-sidebar__button">Сохранить</button>
        </div>
    </div>
</div>



<div class="content-block" ng-show="currentAction == 'hu' && checkedCounter > 0">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Добавить контент в начало хэдера <small>Выбрано сайтов: {{checkedCounter}}</small></h3>
        </div>
        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Контент</label>
            <textarea class="vm-form-group__textarea" ng-model="additionalContent.hu"></textarea>
        </div>

        <div class="buttons-sidebar">
            <button type="submit" ng-click="changeAdditionalContent(additionalContent.hu)" class="buttons-sidebar__button">Сохранить</button>
        </div>

    </div>
</div>
<div class="content-block" ng-show="currentAction == 'hd' && checkedCounter > 0">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Добавить контент в конец хэдера <small>Выбрано сайтов: {{checkedCounter}}</small></h3>
        </div>

        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Контент</label>
            <textarea class="vm-form-group__textarea" ng-model="additionalContent.hd"></textarea>
        </div>

        <div class="buttons-sidebar">
            <button type="submit" ng-click="changeAdditionalContent(additionalContent.hd)" class="buttons-sidebar__button">Сохранить</button>
        </div>

    </div>
</div>
<div class="content-block" ng-show="currentAction == 'fu' && checkedCounter > 0">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Добавить контент в начало футера <small>Выбрано сайтов: {{checkedCounter}}</small></h3>
        </div>

        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Контент</label>
            <textarea class="vm-form-group__textarea" ng-model="additionalContent.fu"></textarea>
        </div>

        <div class="buttons-sidebar">
            <button type="submit" ng-click="changeAdditionalContent(additionalContent.fu)" class="buttons-sidebar__button">Сохранить</button>
        </div>


    </div>
</div>
<div class="content-block" ng-show="currentAction == 'fd' && checkedCounter > 0">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Добавить контент в конец футера <small>Выбрано сайтов: {{checkedCounter}}</small></h3>
        </div>

        <div class="vm-form-group">
            <label for="" class="vm-form-group__label">Контент</label>
            <textarea class="vm-form-group__textarea" ng-model="additionalContent.fd"></textarea>
        </div>

        <div class="buttons-sidebar">
            <button type="submit" ng-click="changeAdditionalContent(additionalContent.fd)" class="buttons-sidebar__button">Сохранить</button>
        </div>


    </div>
</div>



<div class="content-block">

    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Список сайтов <small ng-show="sites.length > 0">Количество: {{ sites.length }}</small></h3>
            <a class="content-header-button" ui-sref="sitesCreate">Создать новый сайт</a>
        </div>

        <div ng-show="sites.length == 0">
            Сайты отсутствуют.
        </div>

        <div class="sites-area">
            <div class="sites-area__site" ng-repeat="site in sites" ng-class="{'sites-area__site_checked': site.checked}">
                <div class="sites-area__check">
                    <a href="" ng-hide="site.checked" ng-click="setChecked(site)">Выбрать</a>
                    <a href="" ng-show="site.checked" ng-click="setChecked(site)">Отменить</a>
                </div>
                <div class="sites-area__title">
                    <span>{{site.title}}</span>
                </div>

                <div class="sites-area__link">
                    <a href="#/sites/{{site.id}}/info">Просмотр</a>
                </div>

            </div>
        </div>
    </div>
</div>