<div class="content-block">

    <div class="content-block__body content-block__body_no-padding">
        <div class="content-block__header content-block__header_with-padding content-block__header_no-margin-bottom">
            <h3 class="content-block__title">Разметка - Хедер</h3>
            <a href="" ng-click="saveLayoutHeader(layout.header)" class="content-block__header-link pull-right"><i class="fa fa-check"></i><span class="content-block__header-link-text">Сохранить</span></a>
        </div>
        <form>
            <textarea ui-codemirror ui-codemirror-opts="codeOptions" ng-model="layout.header"></textarea>
        </form>
    </div>
</div>





<div class="content-block">
    <div class="content-block__body content-block__body_no-padding">
        <div class="content-block__header content-block__header_with-padding content-block__header_no-margin-bottom">
            <h3 class="content-block__title">Разметка - Футер</h3>
            <a href="" ng-click="saveLayoutFooter(layout.footer)" class="content-block__header-link pull-right"><i class="fa fa-check"></i><span class="content-block__header-link-text">Сохранить</span></a>
        </div>
        <form>
            <textarea ui-codemirror ui-codemirror-opts="codeOptions" ng-model="layout.footer"></textarea>
        </form>
    </div>
</div>



<div class="content-block">
    <div class="content-block__body content-block__body_no-padding">
        <div class="content-block__header content-block__header_with-padding content-block__header_no-margin-bottom">
            <h3 class="content-block__title">Разметка - Контейнер</h3>
            <a href="" ng-click="saveLayoutContainer(layout.container)" class="content-block__header-link pull-right"><i class="fa fa-check"></i><span class="content-block__header-link-text">Сохранить</span></a>
        </div>
        <form>
            <textarea ui-codemirror ui-codemirror-opts="codeOptions" ng-model="layout.container"></textarea>
        </form>
    </div>
</div>




<div class="content-block">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Основное меню</h3>
        </div>
        <div class="row" ng-repeat="item in menu.items">
            <div class="col-lg-8">
                {{item.title}}
            </div>
            <div class="col-lg-4">
                <a ng-show="item.is_active == 0" ng-click="setActiveItem(item)" href="">
                    Включить
                </a>
                <a ng-hide="item.is_active == 0" ng-click="setNonActiveItem(item)" href="">
                    Отключить
                </a>
            </div>
        </div>
    </div>
</div>