<form>

    <div class="content-block" >
        <div class="content-block__body">
            <div class="content-block__header">
                <h3 class="content-block__title">Создание новой страницы</h3>
                <a href="#/sites/{{siteId}}/pages" class="content-header-button">Назад к списку страниц</a>
            </div>

            <div class="vm-form-group">
                <label for="" class="vm-form-group__label">Заголовок страницы</label>
                <input type="text" class="vm-form-group__input" ng-model="formData.title">
            </div>

            <div class="vm-form-group">
                <label for="" class="vm-form-group__label">Удобочитаемый URL (необходим для обращения к данной странице)</label>
                <input type="text" class="vm-form-group__input" ng-model="formData.slug" placeholder="Пример: site-page-title">
            </div>

        </div>
    </div>


    <div class="content-block" >
        <div class="content-block__body content-block__body_no-padding">

            <div class="content-block__header content-block__header_with-padding content-block__header_no-margin-bottom">
                <h3 class="content-block__title">Контент</h3>
            </div>
            <textarea ui-codemirror ui-codemirror-opts="codeOptions" ng-model="formData.content"></textarea>
        </div>
    </div>

    <div class="buttons-sidebar">
        <button type="button" ng-click="createPage(formData)" class="buttons-sidebar__button">Создать</button>
    </div>

</form>