<div class="content-block">
    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Страницы сайта <small>Количество: {{ pages.length }}</small></h3>
            <a class="content-header-button" ui-sref="sitesView.pagesCreate">Создать</a>
        </div>

        <div ng-show="pages.length == 0" style="text-align: center">
            <p>Страницы отсутствуют.</p>
        </div>

        <div class="pages-area">
            <div class="pages-area__page" ng-click="showPage(page.id)" ng-repeat="page in pages">
                <div class="pages-area__title">
                    {{page.title}}
                </div>
            </div>
        </div>

    </div>
</div>