<div class="content-block">
    <div class="content-block__body content-block__body_no-padding">
        <div class="content-block__header content-block__header_with-padding content-block__header_no-margin-bottom">
            <h3 class="content-block__title">Контент</h3>
        </div>
        <form>
            <textarea ui-codemirror ui-codemirror-opts="codeOptions" ng-model="content"></textarea>
        </form>
    </div>
</div>

<div class="buttons-sidebar">
    <button type="button" ng-click="save(content)" class="buttons-sidebar__button">Сохранить</button>
</div>