<div class="content-block">
    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Пользователи <small ng-show="users.length > 0">Количество: {{users.length}}</small></h3>
            <a class="content-header-button" ui-sref="usersCreate">Создать</a>
        </div>

        <div ng-show="users.length == 0">
            Пользователи отсутствуют.
        </div>

        <table class="table table-condensed table-responsive" ng-show="users.length > 0">
            <thead>
            <tr>
                <th>Роль</th>
                <th>Логин</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.role | parseRole}}</td>
                <td>{{user.login}}</td>
                <td><a href="#/users/{{user.id}}">Просмотр</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>