<form id="userForm" name="userForm" ng-submit="createUser(newUser)" novalidate>
    <div class="content-block">
        <div class="content-block__body">
            <div class="content-block__header">
                <h3 class="content-block__title">Создание нового пользователя. Основная информация</h3>
                <a class="content-header-button" ui-sref="usersList">Назад к списку пользователей</a>
            </div>

            <div class="vm-form-group">
                <label for="user-login" class="vm-form-group__label">Логин</label>
                <input autocomplete="off" type="text" id="user-login" required placeholder="Введите логин нового пользователя" class="vm-form-group__input" ng-model="newUser.login">

            </div>

            <div class="vm-form-group">
                <label for="user-password" class="vm-form-group__label">Пароль</label>
                <input autocomplete="off" type="password" id="user-password"  placeholder="Введите пароль для нового пользователя" required class="vm-form-group__input" ng-model="newUser.password">
            </div>

            <div class="vm-form-group">
                <label class="vm-form-group__label">Роль нового пользователя</label>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="newUser.role" value="user" checked>
                        Пользователь
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="newUser.role" value="user-moderator">
                        Пользователь-Модератор
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" ng-model="newUser.role" value="moderator">
                        Модератор
                    </label>
                </div>
            </div>

        </div>
    </div>


    <div class="content-block" ng-show="newUser.role == 'user' || newUser.role == 'user-moderator'">

        <div class="content-block__body">

            <div class="content-block__header">
                <h3 class="content-block__title">Дополнительная информация</h3>
            </div>

            <div class="vm-form-group">
                <label for="user-name" class="vm-form-group__label">Имя пользователя</label>
                <input autocomplete="off" type="text" id="user-name" placeholder="Введите имя нового пользователя" class="vm-form-group__input" ng-model="newUser.name">
            </div>

            <div class="vm-form-group">
                <label for="user-site" class="vm-form-group__label">Адрес сайта пользователя</label>
                <input autocomplete="off" type="url" id="user-site" ng-required="user.role == 'user'" placeholder="Введите адрес сайта пользователя" class="vm-form-group__input" ng-model="newUser.site">
            </div>

            <div class="vm-form-group">
                <label for="user-site-title" class="vm-form-group__label">Название сайта (для удобочитаемости)</label>
                <input autocomplete="off" type="text" id="user-site-title" ng-required="user.role == 'user'" placeholder="Введите название сайта пользователя" class="vm-form-group__input" ng-model="newUser.siteTitle">
            </div>

            <div class="vm-form-group">
                <label for="user-settlement" class="vm-form-group__label">Название поселения</label>
                <input autocomplete="off" type="text" id="user-settlement" ng-required="user.role == 'user'" placeholder="Введите название поселения" class="vm-form-group__input" ng-model="newUser.settlement">
            </div>

        </div>
    </div>

    <div class="buttons-sidebar">
        <button type="submit" class="buttons-sidebar__button">Создать</button>
    </div>

</form>
