<div class="content-block">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Информация о пользователе</h3>
            <a class="content-header-button" ui-sref="usersList">Назад к списку пользователей</a>
        </div>

        <p>Здесь будет инфа о пользователе</p>

    </div>
</div>