<div class="content-block">
    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Список публикаций <small ng-show="publications.length > 0">Количество: {{publications.length}}</small></h3>
        </div>

        <table class="table table-condensed table-responsive">
            <thead>
            <tr>
                <th>Дата отправки</th>
                <th>Поселение</th>
                <th>Заголовок</th>
                <th>Статус</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="publication in publications">
                <td ng-bind="publication.updated_at | parseDate"></td>
                <td ng-bind="publication.settlement"></td>
                <td ng-bind="publication.title"></td>
                <td ng-bind="publication.status | parsePubStatus"></td>
                <td><a href="#/publications/{{publication.id}}">Просмотр</a></td>
            </tr>
            </tbody>
        </table>



    </div>
</div>