<div class="content-block">

    <div class="content-block__body">
        <div class="content-block__header">
            <h3 class="content-block__title">Черновик</h3>
        </div>
        <div>
            Публикации отсутствуют.
        </div>

    </div>
</div>