<div class="content-block">

    <div class="content-block__body">

        <div class="content-block__header">
            <h3 class="content-block__title">Тех. поддержка</h3>
        </div>

        <ul class="nav nav-tabs content-change-tabs">
            <li ui-sref-active="active"><a class="support-tab link-with-icon" ui-sref="baseUser.support.create" ><i class="fa fa-pencil"></i><span>Написать заявку</span></a></li>
            <li ui-sref-active="active"><a class="support-tab link-with-icon" ui-sref="baseUser.support.posted" ><i class="fa fa-inbox"></i><span>Отправленные заявки</span></a></li>
            <li ui-sref-active="active"><a class="support-tab link-with-icon" ui-sref="baseUser.support.processed" ><i class="fa fa-archive"></i><span>Обработанные заявки</span></a></li>
        </ul>
        <div ui-view></div>
    </div>
</div>