<div ng-show="supportItems.length == 0">
    Заявки отсутствуют.
</div>

<table class="table table-condensed table-responsive" ng-show="supportItems.length > 0">
    <thead>
    <tr>
        <th class="table-header-with-icon"><i class="fa fa-calendar"></i><span>Дата обработки</span></th>
        <th class="table-header-with-icon"><i class="fa fa-bookmark-o"></i><span>Тема</span></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in supportItems">
        <td ng-bind="item.updated_at"></td>
        <td ng-bind="item.title"></td>
        <td></td>
    </tr>
    </tbody>
</table>