<form name="supForm" ng-submit="sendSupportMessage()">

    <div class="vm-form-group">
        <label for="sup-title" class="vm-form-group__label">Тема заявки</label>
        <input autocomplete="off" type="text" id="sup-title" required name="title" ng-model="support.title" placeholder="Укажите тему заявки..." class="vm-form-group__input">
    </div>
    <div class="vm-form-group">
        <label for="sup-body" class="vm-form-group__label">Текст заявки</label>
        <textarea class="vm-form-group__textarea" required placeholder="Укажите текст заявки..." id="sup-body" cols="30" rows="5" ng-model="support.body"></textarea>
    </div>



    <div class="files-area files-area_support" ng-show="support.files.length > 0">
        <h4 class="files-area__header">Прикрепленные файлы</h4>
        <div ng-repeat="file in support.files" class="files-area__file">
            <div class="files-area__file-name files-area__file-name_support">
                <span class="files-area__text">{{file.name}}</span>
            </div>
            <div class="files-area__remove-button files-area__remove-button_support">
                <span class="files-area__link" ng-click="dropFile(file)" title="Удалить"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>


    <div class="chose-files-area" ngf-select ngf-drop="true" ngf-multiple="true" ngf-change="upload($files)">
        <i class="fa fa-cloud-upload"></i><br>
        <span>Добавить файл(ы)</span>
    </div>


    <h3 class="progress-spinner" ng-show="showUploadBar"><i class="fa fa-cog fa-spin"></i></h3>




    <div class="buttons-sidebar buttons-sidebar_margin">
        <button type="submit" class="buttons-sidebar__button">Отправить</button>
    </div>


</form>
